body {
	margin: 0;
	background-color: #000;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.main {
	font-family: 'Microsoft JhengHei', '微軟正黑體', Arial, Helvetica, sans-serif;
}
.main .content {
	position: absolute;
	top: 0;
	width: 100%;
	height: 0;
	padding-bottom: 56.26029654vw;
	padding-right: 0;
}
@media only screen and (max-width: 1300px) {
	.main .content {
		width: 0;
		height: 100%;
		background-size: auto 100%;
		padding-right: 177.74524158vh;
		padding-bottom: 0;
	}
}
.main .background {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../img/background/img/bg.jpg);
	background-size: 100% auto;
	background-position: center;
	background-repeat: no-repeat;
}
.main .background > div {
	position: absolute;
	background-size: 100%;
	display: none;
}
@media only screen and (max-width: 1300px) {
	.main .content {
		background-size: auto 100%;
	}
}
.background .screen_01 {
	background-image: url(../img/background/img/Screen_01_Export_00000.png);
	width: 25.4%;
	height: 43.1%;
	top: 7.7%;
	left: 0%;
}
.background .screen_02 {
	background-image: url(../img/background/img/Screen_02_Export_00000.png);
	width: 14.1%;
	height: 22.3%;
	top: 20.7%;
	left: 23.8%;
}
.background .screen_03 {
	background-image: url(../img/background/img/Screen_03_Export_00000.png);
	width: 14.1%;
	height: 22.3%;
	top: 28.5%;
	left: 40.6%;
}
.background .screen_04 {
	background-image: url(../img/background/img/Screen_04_Export_00000.png);
	width: 14.1%;
	height: 22.3%;
	top: 51.4%;
	left: 12.5%;
}
.background .screen_05 {
	background-image: url(../img/background/img/Screen_05_Export_00000.png);
	width: 19.5%;
	height: 29.2%;
	top: 64.6%;
	left: 62.9%;
}
.background .screen_06 {
	background-image: url(../img/background/img/Screen_06_07_Export_00000.png);
	width: 19.45%;
	height: 29.1%;
	top: 35.5%;
	left: 72.3%;
}
.background .screen_07 {
	background-image: url(../img/background/img/Screen_08_Export_00000.png);
	width: 31.25%;
	height: 34.8%;
	top: 0%;
	left: 57.8%;
}
.background .screen_08 {
	background-image: url(../img/background/img/Screen_10_Export_00000.png);
	width: 7%;
	height: 4.2%;
	top: 49.3%;
	left: 35.15%;
}
.main .tips {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
}
.main .tips .tips-g14 {
	top: 33.9%;
	left: 7.5%;
}
.main .tips .tips-g14 > div:nth-child(2) {
	position: absolute;
	width: 100%;
	height: 100%;
	border: solid 1px #f50504;
	border-radius: 3px;
	background-image: url(../img/tips/img/arr.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 75%;
	color: #f50504;
	pointer-events: none;
}
.main .tips .tips-g14 > div:nth-child(1) {
	position: absolute;
	width: 770%;
	height: 640%;
	left: -580%;
	cursor: pointer;
}
.main .tips .tips-g15 {
	top: 55%;
	left: 21%;
}
.main .tips .tips-g15 > div:nth-child(2) {
	position: absolute;
	width: 100%;
	height: 100%;
	border: solid 1px #f50504;
	border-radius: 3px;
	background-image: url(../img/tips/img/arr.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 75%;
	color: #f50504;
	pointer-events: none;
}
.main .tips .tips-g15 > div:nth-child(1) {
	position: absolute;
	width: 720%;
	height: 870%;
	left: -530%;
	cursor: pointer;
}
.main .tips .tips-strixscar {
	top: 26%;
	left: 33%;
}
.main .tips .tips-strixscar > div:nth-child(2) {
	position: absolute;
	width: 100%;
	height: 100%;
	border: solid 1px #f50504;
	border-radius: 3px;
	background-image: url(../img/tips/img/arr.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 75%;
	color: #f50504;
	pointer-events: none;
}
.main .tips .tips-strixscar > div:nth-child(1) {
	position: absolute;
	width: 630%;
	height: 690%;
	left: -510%;
	cursor: pointer;
}
.main .tips .tips-strixg {
	top: 34%;
	left: 49%;
}
.main .tips .tips-strixg > div:nth-child(2) {
	position: absolute;
	width: 100%;
	height: 100%;
	border: solid 1px #f50504;
	border-radius: 3px;
	background-image: url(../img/tips/img/arr.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 75%;
	color: #f50504;
	pointer-events: none;
}
.main .tips .tips-strixg > div:nth-child(1) {
	position: absolute;
	width: 660%;
	height: 550%;
	left: -470%;
	cursor: pointer;
}
.main .tips .tips-ga35 {
	top: 26%;
	left: 57%;
}
.main .tips .tips-ga35 > div:nth-child(2) {
	position: absolute;
	width: 100%;
	height: 100%;
	border: solid 1px #f50504;
	border-radius: 3px;
	background-image: url(../img/tips/img/arr.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 75%;
	color: #f50504;
	pointer-events: none;
}
.main .tips .tips-ga35 > div:nth-child(1) {
	position: absolute;
	width: 620%;
	height: 1030%;
	left: -510%;
	cursor: pointer;
}
.main .tips .tips-flow13 {
	top: 70%;
	left: 79%;
}
.main .tips .tips-flow13 > div:nth-child(2) {
	position: absolute;
	width: 100%;
	height: 100%;
	border: solid 1px #f50504;
	border-radius: 3px;
	background-image: url(../img/tips/img/arr.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 75%;
	color: #f50504;
	pointer-events: none;
}
.main .tips .tips-flow13 > div:nth-child(1) {
	position: absolute;
	width: 1120%;
	height: 920%;
	left: -1010%;
	cursor: pointer;
}
.main .tips .tips-se15 {
	top: 42%;
	left: 87%;
}
.main .tips .tips-se15 > div:nth-child(2) {
	position: absolute;
	width: 100%;
	height: 100%;
	border: solid 1px #f50504;
	border-radius: 3px;
	background-image: url(../img/tips/img/arr.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 75%;
	color: #f50504;
	pointer-events: none;
}
.main .tips .tips-se15 > div:nth-child(1) {
	position: absolute;
	width: 960%;
	height: 810%;
	left: -850%;
	cursor: pointer;
}
.main .tips .tips-xg {
	top: 78%;
	left: 90.6%;
}
.main .tips .tips-xg > div:nth-child(2) {
	position: absolute;
	width: 100%;
	height: 100%;
	border: solid 1px #f50504;
	border-radius: 3px;
	background-image: url(../img/tips/img/arr.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 75%;
	color: #f50504;
	pointer-events: none;
}
.main .tips .tips-xg > div:nth-child(1) {
	position: absolute;
	width: 770%;
	height: 730%;
	left: -650%;
	cursor: pointer;
}
.main .tips > div {
	position: absolute;
	width: 1.3%;
	height: 1.9%;
	pointer-events: auto;
}
.content .cursor {
	position: fixed;
	width: 125px;
	height: 125px;
	pointer-events: none;
}
.content .cursor > div {
	pointer-events: none;
}
.content .cursor .ico {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../img/index/img/cursor.png);
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
}
.content .cursor .on {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}
.main .enter {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.84);
	font-family: 'Xolonium', sans-serif;
}
.main .enter .bg {
	position: absolute;
	width: 100%;
	height: 100%;
}
.main .enter .bg canvas {
	width: 100%;
	height: 100%;
}
.main .enter .txt {
	position: absolute;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.main .enter .txt > div {
	position: relative;
}
.main .enter .txt .enter_btn {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
	top: 0;
}
.main .enter .txt .container {
	width: 100%;
	height: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.main .enter .txt .container .l {
	background-image: url(../img/enter/img/l.png);
	width: 38px;
	height: 98px;
}
.main .enter .txt .container .title {
	height: 98px;
	padding: 0px 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-image: url(../img/enter/img/c.png);
	color: #f60303;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 1.2rem;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-repeat: repeat-x;
}
.main .enter .txt .container .r {
	background-image: url(../img/enter/img/l.png);
	width: 38px;
	height: 98px;
	-webkit-transform: scale(-1, -1);
	-ms-transform: scale(-1, -1);
	transform: scale(-1, -1);
}
.main .enter .txt .container .b {
	background-image: url(../img/enter/img/b.png);
	width: 396px;
	height: 38px;
	margin: -3.5px 0 0 225px;
}
.main .enter .txt .container > div {
	display: inline-block;
}
@media only screen and (max-width: 731px) {
	.main .enter .txt .container .title {
		font-size: 1.5rem;
	}
}
@font-face {
	font-family: 'Xolonium';
	src: url(../font/enter/fonts/Xolonium/Xolonium.woff2) format('woff2'), url(../font/enter/fonts/Xolonium/Xolonium.woff) format('woff'),
		url(../font/enter/fonts/Xolonium/Xolonium.ttf) format('truetype'), url(../img/enter/fonts/Xolonium/Xolonium.svg#Xolonium) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.main .lightbox {
	position: fixed;
	width: 100%;
	height: 100%;
}
.main .lightbox .lightbox-bg {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.84);
}
.main .lightbox .context {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	pointer-events: none;
}
.main .lightbox .context .window {
	position: relative;
	width: 1300px;
	height: auto;
	border: solid 3px #738088;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: painted;
}
.main .lightbox .context .window .body {
	float: left;
	width: 100%;
	height: auto;
	padding: 60px 50px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 50% 50%;
}
.main .lightbox .context .window .body .box {
	position: relative;
	float: left;
	width: 100%;
	height: 100%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.main .lightbox .context .window .body .box > div {
	width: 100%;
	float: left;
	padding: 0px 0px 0px 30px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
}
.main .lightbox .context .window .body .box .buttons {
	position: absolute;
	height: 56px;
	bottom: 0px;
	padding: 0px 0px 0px 10px;
}
.main .lightbox .context .window .body .box .buttons .btns {
	position: relative;
	float: left;
	width: 212px;
	height: 55px;
	margin-left: 18px;
	color: #fff;
	line-height: 55px;
	text-indent: 30px;
	font-family: 'Xolonium', '微軟正黑體', Arial, Helvetica, sans-serif;
	cursor: pointer;
	-webkit-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.main .lightbox .context .window .body .box .buttons .lightbox-see {
	position: relative;
	float: left;
	width: 212px;
	height: 55px;
	margin-left: 18px;
	color: #fff;
	line-height: 55px;
	text-indent: 30px;
	font-family: 'Xolonium', '微軟正黑體', Arial, Helvetica, sans-serif;
	cursor: pointer;
	-webkit-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	background: -o-linear-gradient(30deg, #b81d9b, #7015cc);
	background: linear-gradient(60deg, #b81d9b, #7015cc);
}
.main .lightbox .context .window .body .box .buttons .lightbox-see > div {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	top: 0;
	-webkit-mask-image: url(../img/lightbox/img/arrow.svg);
	mask-image: url(../img/lightbox/img/arrow.svg);
	-webkit-mask-position: right 20px center;
	mask-position: right 20px center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 30px auto;
	mask-size: 30px auto;
	background-color: #fff;
}
.main .lightbox .context .window .body .box .buttons .lightbox-see:hover {
	color: #000;
	background: -o-linear-gradient(30deg, #5b2ad6, #2b6bf7);
	background: linear-gradient(60deg, #5b2ad6, #2b6bf7);
}
.main .lightbox .context .window .body .box .buttons .lightbox-see:hover > div {
	background-color: #000;
}
.main .lightbox .context .window .body .box .buttons .lightbox-buy {
	position: relative;
	float: left;
	width: 212px;
	height: 55px;
	margin-left: 18px;
	color: #fff;
	line-height: 55px;
	text-indent: 30px;
	font-family: 'Xolonium', '微軟正黑體', Arial, Helvetica, sans-serif;
	cursor: pointer;
	-webkit-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	background: -o-linear-gradient(30deg, #5b2ad6, #2b6bf7);
	background: linear-gradient(60deg, #5b2ad6, #2b6bf7);
}
.main .lightbox .context .window .body .box .buttons .lightbox-buy > div {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	top: 0;
	-webkit-mask-image: url(../img/lightbox/img/cart.svg);
	mask-image: url(../img/lightbox/img/cart.svg);
	-webkit-mask-position: right 20px center;
	mask-position: right 20px center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 25px auto;
	mask-size: 25px auto;
	background-color: #fff;
}
.main .lightbox .context .window .body .box .buttons .lightbox-buy:hover {
	color: #000;
	background: -o-linear-gradient(30deg, #b81d9b, #7015cc);
	background: linear-gradient(60deg, #b81d9b, #7015cc);
}
.main .lightbox .context .window .body .box .buttons .lightbox-buy:hover > div {
	background-color: #000;
}
.main .lightbox .context .window .body .box .list {
	color: #fff;
}
.main .lightbox .context .window .body .box .list ul {
	-webkit-padding-start: 20px;
	padding-inline-start: 20px;
	-webkit-margin-before: 0rem;
	margin-block-start: 0rem;
	-webkit-margin-after: 4.6rem;
	margin-block-end: 4.6rem;
}
.main .lightbox .context .window .body .box .list ul li {
	font-size: 1rem;
	line-height: 1.8rem;
}
.main .lightbox .context .window .body .box .sub {
	-webkit-margin-before: 1.5rem;
	margin-block-start: 1.5rem;
	-webkit-margin-after: 1.5rem;
	margin-block-end: 1.5rem;
}
.main .lightbox .context .window .body .box .sub span {
	font-family: 'Xolonium', monospace, Helvetica, sans-serif;
	color: #fff;
	font-size: 2rem;
}
.main .lightbox .context .window .body .box .gradient {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #bebebe), color-stop(13%, #ffffff), color-stop(22%, #ffffff), color-stop(43%, #656565), color-stop(44%, #ffffff));
	background: -o-linear-gradient(bottom, #bebebe 10%, #ffffff 13%, #ffffff 22%, #656565 43%, #ffffff 44%);
	background: linear-gradient(0deg, #bebebe 10%, #ffffff 13%, #ffffff 22%, #656565 43%, #ffffff 44%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-color: #fff;
}
.main .lightbox .context .window .body .box .title {
	margin-top: -10px;
}
.main .lightbox .context .window .body .box .title span {
	font-family: 'ROG Fonts', monospace, Helvetica, sans-serif;
	color: #fff;
	font-size: 5rem;
	line-height: 1.5rem;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #bebebe), color-stop(13%, #ffffff), color-stop(22%, #ffffff), color-stop(43%, #656565), color-stop(44%, #ffffff));
	background: -o-linear-gradient(bottom, #bebebe 10%, #ffffff 13%, #ffffff 22%, #656565 43%, #ffffff 44%);
	background: linear-gradient(0deg, #bebebe 10%, #ffffff 13%, #ffffff 22%, #656565 43%, #ffffff 44%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-color: #fff;
}
.main .lightbox .context .window .body .box .img {
	width: 594px;
	height: 374px;
	border: solid 1px #738088;
}
.main .lightbox .context .window .nav {
	float: left;
	width: 100%;
	height: 52px;
	background-color: #333b40;
	background-image: url(../img/lightbox/img/window_ico.jpg);
	background-repeat: no-repeat;
	background-size: auto 50%;
	background-position: 15px center;
	color: #959595;
	font-size: 0.9rem;
	line-height: 52px;
	text-indent: 58px;
}
.main .lightbox .context .window .nav .lightbox-close {
	float: right;
	width: 42px;
	height: 42px;
	background-color: #738088;
	margin: 5px;
	background-image: url(../img/lightbox/img/window_close.png);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.main .lightbox .context .window .nav .lightbox-close:hover {
	background-color: #191c1f;
}
@media only screen and (max-width: 731px) {
	.main .lightbox .context .window {
		width: 666px;
	}
	.main .lightbox .context .window .body {
		grid-template-columns: none;
	}
	.main .lightbox .context .window .body .box .buttons {
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.main .lightbox .context .window .body .box .list ul {
		-webkit-margin-after: 1rem;
		margin-block-end: 1rem;
	}
	.main .lightbox .context .window .body .box .list ul li {
		font-size: 1.2rem;
		line-height: 2.5rem;
	}
	.main .lightbox .context .window .body .box .sub {
		text-align: center;
	}
	.main .lightbox .context .window .body .box .title {
		text-align: center;
		margin-top: 30px;
	}
	.main .lightbox .context .window .body .box .img {
		width: 100%;
	}
}
@font-face {
	font-family: 'ROG Fonts';
	src: url(../font/lightbox/fonts/ROG/ROGFontsv15-Regular.eot);
	src: url(../font/lightbox/fonts/ROG/ROGFontsv15-Regular.eot?#iefix) format('embedded-opentype'), url(../font/lightbox/fonts/ROG/ROGFontsv15-Regular.woff2) format('woff2'),
		url(../font/lightbox/fonts/ROG/ROGFontsv15-Regular.woff) format('woff'), url(../font/lightbox/fonts/ROG/ROGFontsv15-Regular.ttf) format('truetype'),
		url(../img/lightbox/fonts/ROG/ROGFontsv15-Regular.svg#ROGFontsv1.5-Regular) format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

.main .scrolling {
	position: fixed;
	left: 50%;
	top: 50%;
	pointer-events: none;
}
.main .scrolling .ico {
	position: absolute;
	background-image: url(../img/index/img/panto.svg);
	width: 93.4px;
	height: 106px;
	background-size: 100%;
	margin: -53px -46.7px;
	left: 0px;
}
@media only screen and (max-width: 731px) {
	.main .scrolling .ico {
		width: 186.8px;
		height: 212px;
		margin: -106px -93.4px;
	}
}
.main .menu {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 320px;
	height: auto;
	pointer-events: none;
}
.main .menu .ham {
	position: absolute;
	background-image: url(../img/menu/img/ham.png);
	width: 123.5px;
	height: 123.5px;
	background-size: 100%;
	bottom: 10px;
	left: 10px;
	cursor: pointer;
	pointer-events: auto;
	display: none;
}
.main .menu .context {
	position: relative;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.main .menu .context .menu-close {
	position: absolute;
	width: 80px;
	height: 80px;
	background: -o-linear-gradient(30deg, #b81d9b, #7015cc);
	background: linear-gradient(60deg, #b81d9b, #7015cc);
	right: 0;
	top: 0;
	cursor: pointer;
	pointer-events: auto;
	display: none;
}
.main .menu .context .menu-close > div {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url(../img/menu/img/close.svg);
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: center;
	pointer-events: none;
}
.main .menu .context .menu-button {
	position: relative;
	display: inline;
	float: left;
	width: 100%;
	height: 60px;
	line-height: 60px;
	color: #fff;
	cursor: pointer;
}
.main .menu .context .menu-button > div {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	pointer-events: none;
}
.main .menu .context .menu-button > div:nth-child(1) {
	width: 0%;
	background: -o-linear-gradient(30deg, #b81d9b, #7015cc);
	background: linear-gradient(60deg, #b81d9b, #7015cc);
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}
.main .menu .context .menu-button > div:nth-child(2) {
	-webkit-mask-image: url(../img/lightbox/img/arrow.svg);
	mask-image: url(../img/lightbox/img/arrow.svg);
	-webkit-mask-position: right 20px center;
	mask-position: right 20px center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 30px auto;
	mask-size: 30px auto;
	background-color: #fff;
}
.main .menu .context .menu-button > div:nth-child(3) {
	text-indent: 20px;
	font-family: 'Xolonium', monospace, Helvetica, sans-serif;
	font-size: 1.4rem;
}
.main .menu .context .menu-button > div:nth-child(4) {
	background-color: rgba(0, 0, 0, 0);
	pointer-events: auto;
}
.main .menu .context .menu-button:hover > div:nth-child(1) {
	width: 100%;
}
.main .menu .context .menu-button:hover > div:nth-child(2) {
	background-color: #000;
}
@media only screen and (max-width: 731px) {
	.main .menu {
		position: fixed;
		left: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
	}
	.main .menu .ham {
		display: block;
	}
	.main .menu .context {
		padding-top: 100px;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		background-color: rgba(0, 0, 0, 0.8);
		opacity: 0;
		display: none;
	}
	.main .menu .context .menu-close {
		display: block;
	}
	.main .menu .context .menu-button {
		width: 80%;
		height: 120px;
		line-height: 120px;
	}
	.main .menu .context .menu-button > div:nth-child(3) {
		font-size: 2rem;
	}
}
.main .extra {
	position: fixed;
	width: 100%;
	height: 100%;
}
.main .extra .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: rgba(0, 0, 0, 0.84);
}
.main .extra .context {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	pointer-events: none;
}
.main .extra .context .window {
	position: relative;
	width: 1300px;
	height: auto;
	border: solid 3px #484848;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: painted;
}
.main .extra .context .window .body {
	float: left;
	width: 100%;
	height: 670px;
	padding: 20px 50px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: auto;
}
.main .extra .context .window .body .row {
	float: left;
	width: 100%;
	height: auto;
	border-bottom: solid 1px #484848;
	margin-bottom: 10px;
	padding-bottom: 10px;
	display: grid;
	grid-template-columns: 40% 60%;
}
.main .extra .context .window .body .row:nth-last-child(1) {
	border-bottom: none;
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.main .extra .context .window .body .row .box {
	position: relative;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.main .extra .context .window .body .row .box .ctx {
	float: left;
	width: 100%;
	height: 100%;
	padding: 2% 9%;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: left;
}
.main .extra .context .window .body .row .box .ctx .buttons {
	float: left;
	height: 56px;
}
.main .extra .context .window .body .row .box .ctx .buttons .btns {
	position: relative;
	float: left;
	width: 212px;
	height: 55px;
	margin-left: 0px;
	margin-right: 20px;
	color: #fff;
	line-height: 55px;
	text-indent: 30px;
	font-family: 'Xolonium', '微軟正黑體', Arial, Helvetica, sans-serif;
	cursor: pointer;
	-webkit-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
.main .extra .context .window .body .row .box .ctx .buttons .lightbox-see {
	position: relative;
	float: left;
	width: 212px;
	height: 55px;
	margin-left: 0px;
	margin-right: 20px;
	color: #fff;
	line-height: 55px;
	text-indent: 30px;
	font-family: 'Xolonium', '微軟正黑體', Arial, Helvetica, sans-serif;
	cursor: pointer;
	-webkit-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	background: -o-linear-gradient(30deg, #b81d9b, #7015cc);
	background: linear-gradient(60deg, #b81d9b, #7015cc);
}
.main .extra .context .window .body .row .box .ctx .buttons .lightbox-see > div {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	top: 0;
	-webkit-mask-image: url(../img/lightbox/img/arrow.svg);
	mask-image: url(../img/lightbox/img/arrow.svg);
	-webkit-mask-position: right 20px center;
	mask-position: right 20px center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 30px auto;
	mask-size: 30px auto;
	background-color: #fff;
}
.main .extra .context .window .body .row .box .ctx .buttons .lightbox-see:hover {
	color: #000;
	background: -o-linear-gradient(30deg, #5b2ad6, #2b6bf7);
	background: linear-gradient(60deg, #5b2ad6, #2b6bf7);
}
.main .extra .context .window .body .row .box .ctx .buttons .lightbox-see:hover > div {
	background-color: #000;
}
.main .extra .context .window .body .row .box .ctx .buttons .lightbox-buy {
	position: relative;
	float: left;
	width: 212px;
	height: 55px;
	margin-left: 0px;
	margin-right: 20px;
	color: #fff;
	line-height: 55px;
	text-indent: 30px;
	font-family: 'Xolonium', '微軟正黑體', Arial, Helvetica, sans-serif;
	cursor: pointer;
	-webkit-transition-duration: 0.2s;
	-o-transition-duration: 0.2s;
	transition-duration: 0.2s;
	background: -o-linear-gradient(30deg, #5b2ad6, #2b6bf7);
	background: linear-gradient(60deg, #5b2ad6, #2b6bf7);
}
.main .extra .context .window .body .row .box .ctx .buttons .lightbox-buy > div {
	position: absolute;
	width: 100%;
	height: 100%;
	pointer-events: none;
	top: 0;
	-webkit-mask-image: url(../img/lightbox/img/cart.svg);
	mask-image: url(../img/lightbox/img/cart.svg);
	-webkit-mask-position: right 20px center;
	mask-position: right 20px center;
	-webkit-mask-repeat: no-repeat;
	mask-repeat: no-repeat;
	-webkit-mask-size: 25px auto;
	mask-size: 25px auto;
	background-color: #fff;
}
.main .extra .context .window .body .row .box .ctx .buttons .lightbox-buy:hover {
	color: #000;
	background: -o-linear-gradient(30deg, #b81d9b, #7015cc);
	background: linear-gradient(60deg, #b81d9b, #7015cc);
}
.main .extra .context .window .body .row .box .ctx .buttons .lightbox-buy:hover > div {
	background-color: #000;
}
.main .extra .context .window .body .row .box .ctx .list {
	color: #fff;
}
.main .extra .context .window .body .row .box .ctx .list ul {
	-webkit-padding-start: 20px;
	padding-inline-start: 20px;
	-webkit-margin-before: 0rem;
	margin-block-start: 0rem;
	-webkit-margin-after: 1rem;
	margin-block-end: 1rem;
}
.main .extra .context .window .body .row .box .ctx .list ul li {
	font-size: 0.8rem;
	line-height: 1.8rem;
}
.main .extra .context .window .body .row .box .ctx .sub {
	-webkit-margin-before: 0.7rem;
	margin-block-start: 0.7rem;
	-webkit-margin-after: 0.7rem;
	margin-block-end: 0.7rem;
}
.main .extra .context .window .body .row .box .ctx .sub span {
	font-family: 'Xolonium', monospace, Helvetica, sans-serif;
	color: #fff;
	font-size: 1.4rem;
}
.main .extra .context .window .body .row .box .ctx .gradient {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #bebebe), color-stop(13%, #ffffff), color-stop(22%, #ffffff), color-stop(43%, #656565), color-stop(44%, #ffffff));
	background: -o-linear-gradient(bottom, #bebebe 10%, #ffffff 13%, #ffffff 22%, #656565 43%, #ffffff 44%);
	background: linear-gradient(0deg, #bebebe 10%, #ffffff 13%, #ffffff 22%, #656565 43%, #ffffff 44%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-color: #fff;
}
.main .extra .context .window .body .row .box .ctx .title {
	margin-top: -10px;
}
.main .extra .context .window .body .row .box .ctx .title span {
	font-family: 'ROG Fonts', monospace, Helvetica, sans-serif;
	color: #fff;
	font-size: 3rem;
	line-height: 1.5rem;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(10%, #bebebe), color-stop(13%, #ffffff), color-stop(22%, #ffffff), color-stop(43%, #656565), color-stop(44%, #ffffff));
	background: -o-linear-gradient(bottom, #bebebe 10%, #ffffff 13%, #ffffff 22%, #656565 43%, #ffffff 44%);
	background: linear-gradient(0deg, #bebebe 10%, #ffffff 13%, #ffffff 22%, #656565 43%, #ffffff 44%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-color: #fff;
}
.main .extra .context .window .body .row .box .img {
	width: 100%;
	padding-bottom: 63.2996633%;
	border: solid 1px #484848;
	background-color: black;
}
.main .extra .context .window .nav {
	float: left;
	width: 100%;
	height: 52px;
	background-color: #333b40;
	background-image: url(../img/lightbox/img/window_ico.jpg);
	background-repeat: no-repeat;
	background-size: auto 50%;
	background-position: 15px center;
	color: #959595;
	font-size: 0.9rem;
	line-height: 52px;
	text-indent: 58px;
}
.main .extra .context .window .nav .lightbox-close {
	float: right;
	width: 42px;
	height: 42px;
	background-color: #738088;
	margin: 5px;
	background-image: url(../img/lightbox/img/window_close.png);
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
}
.main .extra .context .window .nav .lightbox-close:hover {
	background-color: #191c1f;
}
