@import './../config.less';
@path: 'index';
@type: 'img/';

@img: '/img/cursor.png';
.content {
	.cursor {
		position: fixed;
		width: image-width('.@{img}');
		height: image-height('.@{img}');
		pointer-events: none;

		& > div {
			pointer-events: none;
		}

		.ico {
			position: absolute;
			width: 100%;
			height: 100%;
			transition: 0.2s;
			transform: scale(0);
			background-size: 100%;
			& when not (@cdn = true) {
				background-image: url('.@{img}');
			}
			& when (@cdn = true) {
				background-image: url('@{cdn_url}@{type}@{path}@{img}');
			}
		}

		.on {
			transform: scale(0.3);
		}
	}
}
