body {
	margin: 0;
	background-color: #000;
	user-select: none;
}

@img: './../background/img/bg.jpg';
.main {
	font-family: 'Microsoft JhengHei', '微軟正黑體', Arial, Helvetica, sans-serif;

	.content {
		position: absolute;
		top: 0;
		width: 100%;
		height: 0;

		padding-bottom: image-height(@img) / image-width(@img) * 100vw;
		padding-right: 0;
	}
}

@media only screen and (max-width: 1300px) {
	.main {
		.content {
			width: 0;
			height: 100%;
			background-size: auto 100%;
			padding-right: image-width(@img) / image-height(@img) * 100vh;
			padding-bottom: 0;
		}
	}
}
