@font-face {
	font-family: 'Xolonium';
	src: url('https://dlcdnwebimgs.asus.com/files/media/6570DD19-B43C-4496-9A24-53CBFB320D9B/font/enter/fonts/Xolonium/Xolonium.woff2') format('woff2'),
		url('https://dlcdnwebimgs.asus.com/files/media/6570DD19-B43C-4496-9A24-53CBFB320D9B/font/enter/fonts/Xolonium/Xolonium.woff') format('woff'),
		url('https://dlcdnwebimgs.asus.com/files/media/6570DD19-B43C-4496-9A24-53CBFB320D9B/font/enter/fonts/Xolonium/Xolonium.ttf') format('truetype'),
		url('https://dlcdnwebimgs.asus.com/files/media/6570DD19-B43C-4496-9A24-53CBFB320D9B/font/enter/fonts/Xolonium/Xolonium.svg#Xolonium') format('svg');

	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
