@import './../config.less';
@path: 'background';

.main {
	.background {
		position: absolute;
		width: 100%;
		height: 100%;
		background-size: auto 100%;
		background-position: center;
		background-repeat: no-repeat;
		cursor: auto;

		@img: '/img/20201207_CES_KV_Main.jpg';
		background-image: url('.@{img}');
		& when (@cdn = true) {
			background-image: url('@{cdn_url}@{path}@{img}');
		}

		& > div {
			position: absolute;
			background-size: 100%;
			pointer-events: none;

			//! .debug;
		}

		.debug {
			opacity: 0.5;
			background-color: rgba(255, 0, 0, 0.5);
		}
	}
}

@media only screen and (max-width: 1300px) {
	.main {
		.background {
			background-size: auto 100%;
			cursor: grab;
		}
	}
}
