@import './../config.less';
@path: 'background';
@type: 'img/';

.background {
	.screen_04 {
		width: 10.65%;
		height: 19.7%;
		top: 54.3%;
		left: 16.5%;

		& > div {
			position: absolute;
			background-repeat: no-repeat;
			top: 0;
			width: 100%;
			height: 100%;
		}

		& > div:nth-child(1) {
			width: 100%;
			height: 100%;
			//background-image: url('./img/Screen_04_Export_00000.png');
			background-size: 100%;
		}

		@keyframes bg4 {
			0% {
				background-position-y: 0%;
			}
			100% {
				background-position-y: 100%;
			}
		}

		& > div:nth-child(1) {
			background-size: 100%;
			background-image: url('./img//Screen_04_Export_00000.png');
		}

		.play {
			animation: bg4 143s/24 steps(142) infinite;
			display: block !important;
		}

		& > div:nth-child(2) {
			width: 100%;
			height: 100%;
			background-size: 100% 100% * 143;
			background-position-y: 0;
			background-position-x: 0;
			display: none;

			@img: '/img/04.png';
			& when not (@cdn = true) {
				background-image: url('.@{img}');
			}
			& when (@cdn = true) {
				background-image: url('@{cdn_url}@{type}@{path}@{img}');
			}
		}
	}
}
