@import './../config.less';
@path: 'background';

.background {
	.screen_06 {
		width: 19.45%;
		height: 33.4%;
		top: 33.3%;
		left: 72%;
		display: none;

		@img: '/img/Screen_06_07_Export_00000.png';
		background-image: url('.@{img}');
	}
}
