@import './../config.less';
@path: 'background';
@type: 'img/';

.background {
	.screen_03 {
		width: 9.79%;
		height: 14.9%;
		top: 30.7%;
		left: 42.82%;

		& > div {
			position: absolute;
			background-repeat: no-repeat;
			top: 0;
			width: 100%;
			height: 100%;
		}

		@keyframes bg3 {
			0% {
				background-position-y: 0%;
			}
			100% {
				background-position-y: 100%;
			}
		}

		& > div:nth-child(1) {
			background-size: 100%;
			@img: '/img/Screen_03_Export_00000.png';
			& when not (@cdn = true) {
				background-image: url('.@{img}');
			}
			& when (@cdn = true) {
				background-image: url('@{cdn_url}@{type}@{path}@{img}');
			}
		}

		.play {
			animation: bg3 85s/15 steps(84) infinite;
			display: block !important;
		}

		& > div:nth-child(2) {
			width: 100%;
			height: 100%;
			background-size: 100% 100% * 85;
			background-position-y: 0;
			background-position-x: 0;
			display: none;

			@img: '/img/03s.png';
			& when not (@cdn = true) {
				background-image: url('.@{img}');
			}
			& when (@cdn = true) {
				background-image: url('@{cdn_url}@{type}@{path}@{img}');
			}
		}
	}
}
