@color: #f50504;
@top: 33.9%, 55%, 26%, 34%, 26%, 70%, 42%, 78%;
@left: 7.5%, 21%, 33%, 49%, 57%, 79%, 87%, 90.6%;
@offset_x: -556%, -454%, -498%, -450%, -484%, -1010%, -850%, -650%;
@offset_w: 738%, 593%, 590%, 580%, 850%, 1060%, 960%, 770%;
@offset_h: 555%, 768%, 600%, 492%, 1050%, 920%, 812%, 790%;
@offset_y: 51%, 56%, 0%, 0%, 0%, 0%, 0%, -60%;

@names: g14, g15, strixscar, strixg, ga35, flow13, se15, xg;

.loop(@n, @l:1) when (@l <= @n) {
	@name: extract(@names, @l);

	.tips-@{name} {
		top: extract(@top, @l);
		left: extract(@left, @l);

		& > div:nth-child(2) {
			position: absolute;
			width: 100%;
			height: 100%;
			border: solid 1px @color;
			border-radius: 3px;
			background-image: url('./img/arr.png');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 75%;
			color: @color;
			pointer-events: none;
		}

		& > div:nth-child(1) {
			position: absolute;
			width: extract((@offset_w), @l);
			height: extract((@offset_h), @l);
			left: extract((@offset_x), @l);
			top: extract((@offset_y), @l);
			cursor: pointer;
			//background-color: rgba(255, 255, 0, 0.5); //debug
		}
	}
	.loop(@n,(@l+1));
}

.main {
	.tips {
		position: absolute;
		width: 100%;
		height: 100%;
		pointer-events: none;
		.loop(8);

		& > div {
			position: absolute;
			width: 1.3%;
			height: 1.9%;
			pointer-events: auto;
		}
	}
}
