@border-color: #484848;

.main {
	.extra {
		position: fixed;
		width: 100%;
		height: 100%;

		.extra-bg {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			background-color: rgba(0, 0, 0, 0.84);
		}

		.context {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;

			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			pointer-events: none;

			.window {
				position: relative;
				width: 1300px;
				height: auto;
				border: solid 3px @border-color;
				user-select: none;
				pointer-events: painted;
				background-color: #000;

				.extra-body {
					position: relative;
					float: left;
					width: calc(~'100% - 3px');
					height: 570px;
					padding: 20px 50px 20px 50px;
					box-sizing: border-box;
					overflow-x: hidden;
					overflow-y: hidden;
					margin-right: 2%;

					&::-webkit-scrollbar {
						width: 16px;
					}

					&::-webkit-scrollbar-track {
						background: transparent;
					}

					&::-webkit-scrollbar-thumb {
						background: #4e4e4e;
						border-radius: 8px;
					}

					.extra-bar {
						position: absolute;
						width: 30px;
						height: 200px;
						background-color: #4e4e4e;
						right: 5px;
						top: 5px;
						border-radius: 10px;
						margin-top: 0px;
						cursor: pointer;
						&:hover {
							background-color: #575757;
						}
					}

					.extra-container {
						position: relative;
						float: left;
						width: 100%;
						height: auto;
						margin-top: 0px;

						.row {
							float: left;
							width: 100%;
							height: auto;
							border-bottom: solid 1px @border-color;
							margin-bottom: 10px;
							padding-bottom: 10px;
							display: grid;
							grid-template-columns: 40% 60%;

							&:nth-last-child(1) {
								border-bottom: none;
								margin-bottom: 0px;
								padding-bottom: 0px;
							}

							.box {
								position: relative;
								width: 100%;
								height: 100%;
								display: flex;
								flex-direction: column;
								align-items: center;

								.ctx {
									float: left;
									width: 100%;
									height: 100%;
									padding: 2% 9%;
									box-sizing: border-box;
									text-align: left;

									.buttons {
										float: left;
										height: 56px;

										.btns {
											position: relative;
											float: left;
											width: 212px;
											height: 55px;
											margin-left: 0px;
											margin-right: 20px;
											color: #fff;
											line-height: 55px;
											text-indent: 30px;
											font-family: 'Xolonium', '微軟正黑體', Arial, Helvetica, sans-serif;
											cursor: pointer;
											transition-duration: 0.2s;
										}

										.extra-see {
											.btns;
											background: linear-gradient(60deg, #b81d9b, #7015cc);

											& > div {
												position: absolute;
												width: 100%;
												height: 100%;
												pointer-events: none;
												top: 0;
												mask-image: url('./../lightbox/img/arrow.svg');
												mask-position: right 20px center;
												mask-repeat: no-repeat;
												mask-size: 30px auto;
												background-color: #fff;
											}

											&:hover {
												color: #000;
												background: linear-gradient(60deg, #5b2ad6, #2b6bf7);

												& > div {
													background-color: #000;
												}
											}
										}

										& > div:nth-child(2) {
											.btns;
											background: linear-gradient(60deg, #5b2ad6, #2b6bf7);

											& > div {
												position: absolute;
												width: 100%;
												height: 100%;
												pointer-events: none;
												top: 0;
												mask-image: url('./../lightbox/img/cart.svg');
												mask-position: right 20px center;
												mask-repeat: no-repeat;
												mask-size: 25px auto;
												background-color: #fff;
											}

											&:hover {
												color: #000;
												background: linear-gradient(60deg, #b81d9b, #7015cc);

												& > div {
													background-color: #000;
												}
											}
										}
									}

									.list {
										color: #fff;

										ul {
											padding-inline-start: 20px;
											margin-block-start: 0rem;
											margin-block-end: 1rem;

											li {
												font-size: 0.8rem;
												margin-block-start: 0.8rem;
												margin-bottom: 0.8rem;
											}
										}
									}

									.sub {
										margin-block-start: 0.7rem;
										margin-block-end: 0.7rem;
										span {
											font-family: 'Xolonium', monospace, Helvetica, sans-serif;
											color: #fff;
											font-size: 1.4rem;
										}
									}

									.gradient {
										background-image: url('./../lightbox/img/text-clip.jpg');
										background-size: 1px 23.8px;
										background-position: center 16.5px;
										background-clip: text;
										-webkit-text-fill-color: transparent;
									}

									.title {
										margin-left: 0px;
										position: relative;
										height: auto;
										width: 100%;
										font-family: 'ROG Fonts', monospace, Helvetica, sans-serif;
										color: #fff;
										padding-bottom: 2px;
										overflow: hidden;

										div {
											float: left;
											margin-top: -14px;
											margin-left: -1px;
											width: 100%;
											height: auto;
											padding-bottom: 15px;
											font-size: 3rem;
											line-height: 1.5rem;
											border: solid 1px #000;
											.gradient;
										}
									}
								}

								.img {
									width: 100%;
									padding-bottom: 376 / 594 * 100%;
									border: solid 1px @border-color;
									background-color: black;
								}
							}
						}
					}
				}

				.nav {
					float: left;
					width: 100%;
					height: 52px;
					background-color: #333b40;
					background-image: url('./../lightbox/img/window_ico.jpg');
					background-repeat: no-repeat;
					background-size: auto 50%;
					background-position: 15px center;
					color: #959595;
					font-size: 0.9rem;
					line-height: 52px;
					text-indent: 58px;

					.extra-close {
						float: right;
						width: 42px;
						height: 42px;
						background-color: #738088;
						margin: 5px;
						background-image: url('./../lightbox/img/window_close.png');
						background-position: center;
						background-repeat: no-repeat;
						cursor: pointer;

						&:hover {
							background-color: #191c1f;
						}
					}
				}
			}
		}
	}
}

@media only screen and (max-width: 731px) {
	.main {
		.extra {
			.context {
				.window {
					width: 666px;
					.extra-body {
						padding: 20px 50px 20px 50px;
						height: 775px;

						.extra-container {
							.row {
								display: flex;
								flex-direction: column;

								.box {
									.ctx {
										padding: 2% 2%;
										.buttons {
											position: relative;
											display: flex;
											flex-direction: row;
											justify-content: center;
											align-items: center;
										}

										.list {
											ul {
												margin-block-end: 1rem;
												li {
													font-size: 1.2rem;
													margin-block-start: 0.8rem;
													margin-bottom: 0.8rem;
													line-height: 1.5rem;
												}
											}
										}

										.sub {
										}

										.title {
											margin-top: 20px;
										}
									}
									.img {
										width: 100%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}
