@font-face {
	font-family: 'ROG Fonts';
	src: url('ROGFontsv15-Regular.eot');
	src: url('ROGFontsv15-Regular.eot?#iefix') format('embedded-opentype'), url('ROGFontsv15-Regular.woff2') format('woff2'), url('ROGFontsv15-Regular.woff') format('woff'),
		url('ROGFontsv15-Regular.ttf') format('truetype'), url('ROGFontsv15-Regular.svg#ROGFontsv1.5-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}
